.login-block
{
    max-width: 20%;
    height: auto;
    margin: 100px auto;
    text-align: center;
    border: 1px;
    border-radius: 2.2em;
    padding-top: 10px;
    background: rgba(255,255,255,0.6);
}

.login-background
{
    background: url(../img/RunningBlue.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 90%;
    width: auto;

}
